:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-grayish-blue: hsl(220, 15%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%);

  --font-body: 'Outfit', sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --font-size-paragraph: 18px;


}

body,
html {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--color-light-gray);
}


.card {
  width: 70vh;
  height: auto;
  background-color: var(--color-white);
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 40px;
  box-shadow: 0px 8.828px 27.943px 0px rgba(0, 0, 0, 0.06), 0px 16.297px 47.205px 0px rgba(0, 0, 0, 0.07), 0px 22.629px 59.198px 0px rgba(0, 0, 0, 0.07), 0px 28.191px 65.262px 0px rgba(0, 0, 0, 0.07), 0px 33.632px 66.874px 0px rgba(0, 0, 0, 0.07), 0px 40.272px 66.106px 0px rgba(0, 0, 0, 0.06), 0px 51.482px 67.202px 0px rgba(0, 0, 0, 0.06), 0px 84px 91px 0px rgba(0, 0, 0, 0.07);
}

.img-codeqr {
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 20px;

}

.title {
  font-style: var(--font-weight-bold);
  text-align: center;
  padding: 20px;


}

.text {

  color: var(--color-grayish-blue);
  font-style: var(--font-weight-normal);

}

@media screen and (max-width: 480px) {
  .App {
    padding: 5px;
  }

  .card {
    width: 60vw;
    max-width: 60%;
    border-radius: 10px;
    box-shadow: none;
    margin-bottom: 10px;
    padding: 15px;
  }

  .img-codeqr {
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    width: 60%;
    max-width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .title {
    font-size: 16px;
    padding: 5px;
  }

  .text {
    font-size: 10px;
    padding: 5px;
  }
}



@media screen and (max-width: 680px) {
  .App {
    padding: 5px;
  }

  .card {
    width: 60vw;
    max-width: 60%;
    border-radius: 10px;
    box-shadow: none;
    margin-bottom: 10px;
    padding: 15px;
  }

  .img-codeqr {
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    width: 65%;
    max-width: 65%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .title {
    font-size: 16px;
    padding: 5px;
  }

  .text {
    font-size: 10px;
    padding: 5px;
  }
}



@media screen and (max-width: 768px) {
  .App {
    padding: 20px;
  }

  .card {
    width: 90vw;
    max-width: 90%;
    border-radius: 20px;
    box-shadow: none;
    margin-bottom: 20px;
    padding: 20px;
  }

  .img-codeqr {
    padding: 20px;
    border-radius: 50px;
    margin-top: 10px;
    max-width: 90%;
    height: auto;
    justify-content: center;
  }

  .title {
    font-size: 24px;
    padding: 10px;
  }

  .text {
    font-size: 14px;
    padding: 10px;
  }
}



@media screen and (max-width: 1024px) {
  .App {
    padding: 20px;
  }

  .card {
    width: 100vw;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: none;
    margin-bottom: 20px;
    padding: 20px;
  }

  .img-codeqr {
    padding: 20px;
    border-radius: 50px;
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    justify-content: center;
  }


}